* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #111;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.container h2 {
  color: #00c6ff; 
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}


.container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  font-size: 15px;
}

.container input::placeholder {
  color: #aaa;
}

.container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #00c6ff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover {
  background: #00a3d6;
}

#msg {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #00ffae;
}

.link {
  margin-top: 15px;
  text-align: center;
}

.link a {
  color: #00c6ff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

#userEmail {
  color: #00ffae; 
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.container a {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #00ffae; /* mesma cor do Welcome */
  font-weight: 500;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

#message {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  min-height: 18px;
  color: red;
}

